#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td_lang: tap_dance_lang {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RALT>, <&kp CAPS>;
        };

        td_o: tap_dance_o {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp O>, <&kp LS(O)>;
        };

        td_p: tap_dance_p {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp P>, <&kp LS(P)>;
        };
    };

/*         KEY POSITIONS
  ╭────────────────────────────╮ 
  │    0   1   2   3   4   5   │
  │  6   7   8   9  10  11  12 │ 
  │ 13  14  15  16  17  18  19 │ 
  │ 20  21  22  23  24  25  26 │ 
  │ 27  28  29      30  31  32 │  
  ╰────────────────────────────╯ */

    combos {
        compatible = "zmk,combos";
        combo_grave { timeout-ms = <50>; key-positions = <0 1>; bindings = <&kp ESC>; };
        combo_kor { timeout-ms = <50>; key-positions = <1 2 3>; bindings = <&tog 2>; };
    };

      keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6
            &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y
            &kp CAPS   &kp A      &kp S      &kp D      &kp F      &kp G      &kp H
            &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N
            &kp LCTRL  &kp C_VOL_DN     &kp C_VOL_UP    &kp LALT   &kp SPACE  &kp M
            >;
        };

        1_layer {
            bindings = <
            &trans     &trans     &trans     &trans     &trans     &trans
            &trans     &trans     &trans     &trans     &trans     &trans     &trans
            &trans     &trans     &trans     &trans     &trans     &trans     &trans
            &trans     &trans     &trans     &trans     &trans     &trans     &trans
            &trans     &trans     &trans                &trans     &trans     &trans
            >;
        };

        kor_layer {
            bindings = <
            &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6
            &kp TAB    &ht F1 Q       &ht F2 W        &ht F3 E        &ht F4 R        &ht F5 T
            &kp CAPS   &hm LGUI A    &hm LALT S      &hm LCTRL D     &hm LSHFT F           &ht G L
            &kp LSHFT  &ht Z H      &ht X J           &ht C K           &ht V M           &kp N
            &kp LCTRL  &kp C_VOL_DN     &kp C_VOL_UP    &kp LALT   &kp SPACE  &kp M
            >;
        };
    };
};
